* {
        box-sizing: border-box;
      }
      .openButton {
         float: right;
        font-size: 16px;
        color: green;
        text-align: center;
        padding: 20px 16px;
        align-content: center;
        box-shadow: 5px 7px 5px #aaaaaa;
        border-radius: 50px;
        text-decoration: none;
        margin:18px;
      }
      .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
      }
      .formPopup {
        display: none;
        position: fixed;
        left: 80%;
        top: 12%;
        transform: translate(-50%, 5%);
       /*  border: 3px solid #999999;*/
        z-index: 9;
      }
      .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 15px;
        
      }
      .formContainer input[type=text],
      .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
      }
      .formContainer input[type=text]:focus,
      .formContainer input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background:linear-gradient(135deg, #71b7e6, #9b59b6);
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
      }
      .formContainer .cancel {
        background-color: #cc0000;
      }
      .formContainer .btn:hover,
      .openButton:hover {
        opacity: 1;
      }
      